body { background: #cececf; }
 h1{ font-family: cursive;
     font-style: italic;
      font-weight: bold;
 }
  h4 { color:red; }

#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
img { width: 37%; border-radius: 4px;
     padding: 10px;
     box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2); }
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
.column { display: inline;
     padding: 10px; }
img:hover{
border-radius: 140px;
}

.copy_right_footer{
    position:fixed;
    bottom:0;
    width: 100%;
    text-align:center;
}
body
{
background-image: linear-gradient(to right top, #2600ff93, #0047b8ee, #00c3ff96, #00e5ffab, #00ffbf);
}
